<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/jquery.noty.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/util/util.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/themes/default.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/themes/relax.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/themes/bootstrap.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/bottom.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/bottomCenter.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/bottomLeft.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/bottomRight.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/center.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/centerLeft.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/centerRight.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/inline.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/top.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/topCenter.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/topLeft.js?vs="+Guid.NewGuid())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/layouts/topRight.js?vs="+Guid.NewGuid())"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" runat="server" href="~/">DataPlus</a>
        <button type="button" class="navbar-toggler text-light" title="Menu" data-toggle="collapse" data-target="#navbar-content-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">Cadastros</a>
                    <div class="dropdown-menu">
                        <a href="~/Registration/Index" class="dropdown-item">Pessoa Física</a>
                    </div>
                </li>
                @*<li class="nav-item"><a class="nav-link" href="~/About">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Contact">Contato</a></li>*@
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PIM VIII</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
