@using System.Linq;
@model CadastroPessoaFisica.Pessoa

<form name="Registration" id="Registration">
    <ul class="nav nav-tabs border-bottom-0 bg-dark border border-primary font-weight-bold" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="tab-1" href="#tab-1">Ficha de Cadastro</a>
        </li>
        @*<li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-2" href="#tab-2">Registros</a>
            </li>*@
    </ul>
    <div class="tab-content border-1 border">
        <div class="tab-pane p-3 active" role="tabpanel" aria-labelledby="tab-1-tab" id="tab-1">
            <div class="card card-ligth mb-3">
                <div class="card-header">
                    Dados Pessoais
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="form-group">
                                <label for="Nome">Nome</label>
                                @Html.TextBox("Nome", Model.Nome, new { maxlength = "256", required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="Cpf">CPF</label>
                                @*//Alterei para input direto do html sem razor, pois não estava obedecendo o padLeft, ficava como se nunca tivesse alterado. Estranho, mas a própria aplicação estava salvando cache do código!*@
                                @*@Html.TextBox("Cpf", (Model.Cpf == 0 ? "" : Model.Cpf.ToString().PadLeft(11,'0')), new { maxlength = "15", required = "required", @class = "form-control" })*@
                                <input type="text" id="Cpf" name="Cpf" class="form-control" required maxlength="15" value="@Html.Raw((Model.Cpf == 0 ? "" : Model.Cpf.ToString().PadLeft(11,'0')))"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mb-3">
                <div class="card-header bg-primary text-white">
                    Endereço
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <div class="form-group">
                                <label for="Endereco_Logradouro">Logradouro</label>
                                @Html.TextBox("Endereco_Logradouro", Model.Endereco.Logradouro, new { maxlength = "256", required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="Endereco_Numero">Número</label>
                                @Html.TextBox("Endereco_Numero",Model.Endereco.Numero == 0 ? "" : Model.Endereco.Numero.ToString(), new { type = "number", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <div class="form-group">
                                <label for="Endereco_Cep">CEP</label>
                                @Html.TextBox("Endereco_Cep", Model.Endereco.Cep == 0 ? "" : Model.Endereco.Cep.ToString("0".PadLeft(8,'0')), new { maxlength = "30", required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="Endereco_Bairro">Bairro</label>
                                @Html.TextBox("Endereco_Bairro", Model.Endereco.Bairro, new { maxlength = "50", required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="Endereco_Cidade">Cidade</label>
                                @Html.TextBox("Endereco_Cidade", Model.Endereco.Cidade, new { maxlength = "30", required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="Endereco_Estado">Estado</label>
                                @Html.DropDownList("Endereco_Estado", DataPlusMVCApp.Controllers.RegistrationController.GetStates().Select(v => new SelectListItem { Selected = (Model.Endereco.Estado ?? "").ToUpper() == v.ToUpper(), Text = v, Value = v }), new { @class = "custom-select" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mb-3 card-phone-number">
                <div class="card-header bg-primary text-white">
                    Contato
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <div class="form-group">
                                <label for="Telefone_DDD">DDD</label>
                                @Html.TextBox("Telefone_DDD", "", new { maxlength = "4", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-9 col-md-4">
                            <div class="form-group">
                                <label for="Telefone_Numero">Número</label>
                                @Html.TextBox("Telefone_Numero", "", new { maxlength = "20", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-8 col-md-4">
                            <div class="form-group">
                                <label for="Telefone_Tipo">Tipo</label>
                                @Html.TextBox("Telefone_Tipo", "", new { @class = "form-control", maxlength = "10", required = "required" })
                            </div>
                        </div>
                        <div class="col-4 col-md-2">
                            <div class="form-group">
                                <label for="btn_adicionar_telefone"></label>
                                <Button class="btn btn-primary btn-block mt-1 font-weight-bold" type="button" id="btn_adicionar_telefone" name="btn_adicionar_telefone">+ Adicionar</Button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="phoneList" class="table table-hover table-bordered">
                                <thead>
                                    @if (Model.Telefones.Count > 0)
                                    {
                                        <tr>
                                            <th scope="col">DDD</th>
                                            <th scope="col">Número</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col"></th>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                    @if (Model.Telefones.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="4">Nenhum telefone foi adicionado...</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach(var telefone in Model.Telefones)
                                        {
                                            <tr>
                                                <td data-ddd>@Html.Raw(telefone.Ddd)</td>
                                                <td data-numero>@Html.Raw(telefone.Numero)</td>
                                                <td data-tipo>@Html.Raw(telefone.Tipo.Tipo)</td>
                                                <td class="d-flex justify-content-center"><button type="button" class="btn btn-danger btn-remove-phone btn-times" title="Remover"><i class="fa fa-times"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group">
                                <button id="btnSave" type="button" formaction="Save" class="btn btn-primary font-weight-bold">
                                    <i class="fa fa-save"></i> Gravar
                                </button>
                                <button id="btnClean" type="button" class="btn btn-primary font-weight-bold">
                                    <i class="fa fa-file"></i> Limpar
                                </button>
                                <button id="btnDelete" type="button" formaction="Delete" class="btn btn-danger font-weight-bold">
                                    <i class="fa fa-trash"></i> Excluir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="@Url.Content("~/Scripts/Registration/Index.js?vs="+Guid.NewGuid())"></script>